<!DOCTYPE HTML>
<html>
    <!-- Анна Сердюкова//-->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet"
              href="css/style.css"/>
        <title>Y3</title>
        <script src="js/jquery-1.9.1.js"></script>
        <script src="js/lodash.js"></script>
    </head>
    <body>
        <script>
        </script>
        <div id="wrapper">
            <div id="wrapper-main">
                <div id="wm-main-block">
                    <div class="mb-header"><a href="/job/vacancies/">Работа в Яндексе</a></div>
                    <div class="blank-descript-block">
                        <h1 class="blank-discript-header">Анкета второй Школы разработки интерфейсов в Москве</h1>
                         <p>Яндекс открывает набор во вторую Школу разработки интерфейсов в Москве.<br>
                            Для поступления необходимо заполнить анкету с тестовыми заданиями. Приём заявок
                             закрывается 19 августа в 23:59 по московскому времени. По результатам теста мы пригласим
                             в Школу 30-40 человек.<br>
                            Подробности о Школе читайте на этой <a
                                     href="http://company.yandex.ru/job/vacancies/shri_2013.xml">странице</a>.</p>
                    </div>
                    <div id="blank-block"></div>
                    <div class="about-self-block"></div>
                    <div id="test"></div>
                </div>
            </div>
         </div>
<!-- Скрипты и шаблоны //-->
        <script type="text/template" id="question-template">
            <% for(var i=0; i<questionArr.length; i++) { %>
            <div class="question-row">
                <div class="qr-npp">Вопрос <%=questionArr[i].npp%></div>
                <div class="qr-block">
                    <div class="qr-block-question"><%=questionArr[i].question%></div>
                    <div class="gr-block-area"><%=questionArr[i].answer%></div>
                </div>
            </div>
            <% } %>
        </script>

        <script src="js/questions.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>